.userInput{
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #066e77, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #097983, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-content: center;
    align-content: center;
}    

.user_instructions_wrapperdiv{
    color:rgb(255, 255, 255);
    font-size: 1.2rem;
}

ul{
    list-style-type: disc;
}

li.no_other_char{
    list-style-type: "😤" ;
}

ul.main_list{
    list-style-type: "→ ";
    text-align: left;
    max-width: 900px;
    min-width: 320px;
    border: dashed #f5f5f5 2px ;
    margin: 10px auto 0;
    padding: 10px 10px 20px 30px;
}

li > a{
    color:#fff;
}

li.btn_provided{
    list-style-type: "😇";
}

li.lost_id{
    list-style-type: "😈";
}

li.no_id_li{
    list-style-type: "😎";
}

li.github_repo_link{
    list-style-type: "🥳";
}

li.imp_li{
    list-style-type: "⭐";
}
li.imp_li > span {
    color: rgba(255, 0, 0, 1);
    font-weight: bold;
    text-decoration: underline;
}

.input_customid_div{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
    position: relative;   
}

.input_customid {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    color:#fff;
    background: transparent;
    caret-color: #fff;
    font-size: 2rem;
    padding: 0;
    width:630px;
}

.input_wrapper, .input_customid {
    font-family: monospace;
    font-weight: bold;
    letter-spacing: .4em;
    justify-self: flex-start;
}

.input_wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-bottom: .2em;
    font-size: 2rem;
}

.input_wrapper::after {
    content: "————————————————————";
    color:#fff;
    line-height: .4em;
    position: absolute;
    bottom:0;
    left: 0;
    z-index:1;
}

.input_submit{
    width:130px;
    height:50px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border-radius: 8px;
    outline: none;
    border:none;
    justify-self: center;
    font-weight: bold;
}

.no_id_div{
    position: absolute;
    bottom: 5%;
    left:50%;
    transform: translateX(-50%);    
    white-space: normal;
}

.no_id_btn{
    background: transparent;
    color: rgba(35, 151, 245, 0.7);
    text-decoration: underline;
    border:none;
    font-weight: bold;
    font-size: 1.1rem;
    white-space: nowrap;
}
.no_id_btn:hover{
    color:#fff
}
.portfolio-link{
    position: absolute;
    top:1%;
    right:50%;
    transform: translateX(50%);
    font-weight: bold;
    z-index: 1;
    color:rgba(255,255,255,0.8);
}

.portfolio-link:hover{
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 0s ease-in-out 500s;
    -webkit-text-fill-color: #fff !important;
}

@media screen and (max-width:900px) {
    .userInput{
        margin: 3px;
    }
    .input_customid_div{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;   
    }

    .input_customid {
        font-size: 1.3rem;
        width: 320px;
    }
    
    .input_wrapper:after {
        top:1.6rem;
    }
    .input_wrapper, .input_customid {
        letter-spacing: .15em;
    }
    .input_wrapper {
        font-size: 1.3rem;
        justify-self: center;
        align-self: center;
    }
}

@media screen and (max-width:500px) {
    .userInput{
        height: auto;
    }
}

@media screen and (max-width:350px) {
    .input_customid {
        width: 300px;
    }
}