.landscape{
    display: none;
}

.App{
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr;
    grid-template-rows: 1fr 3fr 3fr;
    height:100vh;
    width:100vw; 
    gap:5px;
    background-color:#0f0e13;
    background-image: 
      radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
      radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
      radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
    overflow: hidden;
}

div{
    overflow: hidden;
    text-align: center;
}

div.notinput{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.inputdiv{
    padding: 5px;
    border: rgba(255, 255, 255, 0.2) solid 1px;
    overflow: visible;
    overflow-y: auto;
}


.portfolio-link{
    position: absolute;
    top:0;
    left:0;
    transform: translate(10%,100%);
    justify-self: center;
    align-self: center;
    color:rgba(255, 255, 255, 0.8);
}

.portfolio-link>a{
    color:rgba(255, 255, 255, 0.8);
}

.portfolio-link>a:hover{
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
}

.details{
    position: absolute;
    top:0;
    right: 0;
    height: fit-content;
    width: 10px;
}

.heading{
    font-size: 1.4rem;
    font-weight: bold;
    font-family: sans-serif;
    color:rgb(255, 255, 255);
    background: rgb(39, 51, 89, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: inline-block;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 15px;
}

.heading-urgent, .heading-noturgent{
    transform: rotateZ(270deg);
}

.heading-noturgent{
    white-space: nowrap;
    margin: 0 auto;
}

.heading-notimportant, .heading-important{
    margin: auto 0;
}

@media screen and (max-width:900px) {
    .App{
        height:100vh;
        width: 100vw;
    }
    .heading{
        font-size: 0.9rem;
        padding:10px;
    }
    .portfolio-link{
        font-size: 10px;
    }
}

@media screen and (max-width:900px) and (orientation:landscape) {
    .App{
        grid-template-rows: 0.5fr 3fr 3fr;
        height:200vh;  
    }

}

@media screen and (max-width:500px) and (orientation:portrait) {
    .App{
        display: none;
    }
    p{
        height: 100vh;
        width: 100vw;
        background-color:#0f0e13;
        background-image: 
          radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
          radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
          radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
        overflow: hidden;
        font-size: 2rem;
        font-family: serif;
        font-weight: bold;
        padding: 60% 0;
        color:rgba(37, 187, 221, 0.7);
    }

}